{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'common.css' %}"/>
    {% if user.is_authenticated %}
    <link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'content.css' %}"/>
    <script src="{% static 'toggleForm.js' %}"></script>
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"/>
    {% endif %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% if user.is_authenticated %}
    <div id="nav">
        <ul>
            <li>МИСИКС</li>
            <li><a href="/">Проекты</a></li>
            <li><a href="/releases">Релизы</a></li>
            <li><a href="logout">Выйти</a></li>
        </ul>
    </div>
    {% endif %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>